html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    background-image: url(./assets/images/fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25%;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    margin-left: 80px;
    padding: 30px;
    font-size: 54px;
 color: #003395;
    font-size: 18px;
    animation: title-animation 1s infinite;
}
.title p {
font-size: 18px;
 color: black;
 animation: title-animation 1s infinite;
}
.container {
    display: flex;
    height: 12vh;
align-items: center;
justify-content: space-around;
background: #003395;
border: 2px solid black;
}
nav a {
color: #ffffff;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
font-size: 18px;
}
#button a {
    display: inline-block;
}
#button a:hover {
    transform: scale(1.5);
    color: crimson;
}
main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
   height: 50%;
   padding: 30px;
}
article {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}
.box_1, .box_2, .box_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
article h2 {
    padding: 13px 0;
    border-bottom: 2px solid #003395;
    border-top: 2px solid #003395;
    color: #003395;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 35%;
}
.news {
    display: flex;
    flex-direction: column;
    flex: 0 0 content;
    flex-wrap: nowrap;
    width: 30vw;
    padding: 10px;
    margin: 10px;
    border: 2px solid #33008D;
    font-size: 12px;
    color: #33008D;
}
.news h2 {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: aliceblue;
    background-color: #24B0FF;
    flex: 0 0 content;
}
ul {
    list-style: none;
}
footer {
    display: flex;
    background:linear-gradient(180deg, #003395 0%, #00205F 100%);
    height: 140px;
}
footer p {
    width: 80%;
    font-size: 12px;
    color: #ffffff;
    padding-top: 50px;
    margin: 0 auto;
    text-align: right;
}
@keyframes title-animation{
to {
color: transparent;
}
}